.forgot-pw {
	color: #007bff;
}

.sign-in {
	/* border: 2px solid red; */
}

@media screen and (min-width: 576px) {
	.sign-in {
		width: 80%;
		margin: 0 auto;
		max-width: var(--fixed-width);
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 1176px) {
}
