.free-quote {
	text-align: center;
	font-weight: bold;
}

.box-container {
	display: flex;
	flex-direction: column;
	margin: 5% auto;
	gap: 1rem;
}

.box {
	background-color: var(--box-color);
	border: solid 1px black;
	/* width */
	flex-basis: 100%;
	padding: 1em;
}

.box-image {
	display: block;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

.box > h3,
.box > p {
	text-align: center;
	margin-bottom: 0.75em;
}

.box {
	transition: all 0.3s ease-in-out;
}

.box:hover {
	background-color: white;
	transform: scale(1.05);
	margin-left: 0.1em;
	margin-right: 0.1em;
	box-shadow: 0rem 0rem 10px black;
}

@media screen and (min-width: 900px) {
	.box-container {
		flex-direction: row;
	}
	.box-image {
		width: 30%;
		margin: 1em auto;
	}
}
