:root {
	--primary-color: rgb(229, 14, 14);
	--secondary-color: #7c818b;
	--btn-color: #f67575;
	--footer-color: #e2c9c9;
	--box-color: #d3e5f1;
	--clr-black: #222;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--max-width: 1170px;
	--fixed-width: 620px;

	--blue-color: #007bff;
}
/* .
https://www.figma.com/file/ZEzekTBzzBdTPx0AP9US41/dw-servicing=1%3A2?node-id
. */

* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.5;
	font-size: 0.875rem;
}

ul {
	list-style-type: none;
}

/* li::first-letter {
	text-decoration-line: underline;
	font-weight: bold;
} */

a {
	text-decoration: none;
}
hr {
	border: none;
	border-top: 1px solid var(--secondary-color);
}
h1,
h2,
h3,
h4,
h5 {
	letter-spacing: var(--spacing);
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
	color: var(--secondary-color);
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 0.875rem;
}
p {
	margin-bottom: 1.25rem;
	color: var(--secondary-color);
}

@media screen and (min-width: 576px) {
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1rem;
	}
	body {
		font-size: 1rem;
	}
	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
	}
}

.App {
	/* background-color: red; */
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-container {
	width: 90%;
	margin: 0 auto;
	/* background-color: red; */
}
.text-center {
	text-align: center;
}

/* forms */
.alert {
	padding: 5px;
	margin: 5px;
}
.alert-danger {
	color: red;
	background-color: rgb(246, 196, 196);
	font-weight: bold;
}

.text-danger {
	color: red;
	margin-top: 10px;
	font-weight: bold;
}
.text-success {
	color: green;
}

.alert-success {
	color: green;
	background-color: rgb(169, 226, 169);
}
.text-capitalize {
	text-transform: capitalize;
}

/* large /desktops*/
@media screen and (min-width: 1025px) {
	.main-container {
		width: 85%;
		max-width: var(--max-width);
	}
}

.center {
	text-align: center;
}
.bold {
	font-weight: 700;
}
